.error {
    display: block;
    margin-left: 36px;
    color: #f00;
    font-size: 12px;
    font-weight: 400;
    align-self: baseline;
    margin-top: 5px;
    min-height: 30px;
}

@media screen and (max-width:620px) {
    .error {
        margin-left: 21px;
        min-height: 25px;
    }
}