.profile__info {
    display: grid;
    grid-template-columns: 1fr 24px;
    align-items: center;
    gap: 16px 18px;
    max-width: 336px;
    min-height: 73px;
    margin-top: 22px;
}

@media screen and (max-width:1020px) {
    .profile__info {
        gap: 14px 10px;
        justify-items: center;
        grid-template-rows: 26px 14px;
        min-height: 54px;
    }
}